
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<body>


        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>THIS IS A ONLINE STORE FOR A GATED COMMUNITY WHERE WE CAN BUY AND SELL PRODUCTS AND WE CAN ALSO ASK FOR SERVICES. WE DONE THIS ONLINE STORE AS OUR MAIN PROJECT UNDER THE GUIDANCE OF OUR VICE PRINCIPLE MADAM SARITHA AND HER FRIENDS.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/img/kc.jpg" alt="">
                <h3>B KRISHNA CHAITANYA
                    <small>STUDENT</small>
                </h3>
                
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/img/charan.Jpg" alt="">
                <h3>D CHARAN RAJ
                    <small>STUDENT</small>
                </h3>
                
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/img/sid.jpg" alt="">
                <h3>G SIDHARTHA
                    <small>STUDENT</small>
                </h3>
               
            </div>
            
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                
            </div>
            <!-- /.row -->
        </footer>

 
    <!-- /.container -->

    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.2.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

