@model BootstrapSite1.Models.ProductsListViewModel

@{
    ViewBag.Title = "List_Automobiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List_Automobiles",
    new { page = x, category = Model.CurrentCategory }))
</div>
